<h1 class="header">Bookrs</h1>

<div class="booksbody">
  <h1>Books</h1>
 <table>
   <tr>
     <th class="th-title">title</th>
     <th class="th-body">opinion</th>
   </tr>

   <% @books.each do |book| %>
    <tr>
     <td>
      <span><%= book.title %></span>
     </td>
     <td>
      <span><%= book.body %></span>
     </td>
    </tr>
   <% end %>
  </table>
</div>


<div class="userinfo">
  <h1>User info</h1>
</div>



</div>


