<main>
 <p id="notice p-2"></p>

 <div class="container">
  <div class="row">
   <div class="mx-auto col-6">
    <h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>
   </div>
  </div>
 </div>
</main>